@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Oswald:wght@200&family=Playfair+Display:ital@1&display=swap");

header a {
  text-decoration: none;
  color: chartreuse;
  font-family: "Abril Fatface", cursive;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ff1b82;
  width: 100%;
  padding: 10px 20px;
}

header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

header ul li {
  margin: 0 10px;
}
@media (max-width: 768px) {
  header {
    flex-direction: column;
    padding: 10px 10px;
  }

  header a {
    font-size: 18px;
  }  


main {
  background-color: #ff5aa4;
  color: chartreuse;
   text-align: center;
} 
  @media (max-width: 768px) {
  main {
    margin: 10px 0;
  }

h1 {
  display: flex;
  color: #ff1b82;
  font-family: "Abril Fatface", cursive;
  justify-content: center;
}

p {
  color: #4e09ee;
}

#texto1 {
  color: rgb(238, 12, 12);
  background-color: #ffc0dc;
}

.textoClase {
  color: blue;
  font-weight:200; 
}

h3 {
  font-family: "Abril Fatface", cursive;
  color: #ff1b82;
}

h2 {
  color: #ff1b82;
  text-align: center;
  font-family: "Abril Fatface", cursive;
  font-size: xx-large;
}

.contenedor {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 10px 0 10px 0;
  background-color: #ffc0dc;
}

h3 {
  color: #ff1b82;
}

.caja {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.caja img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: solid #ff1b82;
  border-width: 10px;
}
    @media (max-width: 768px) {
  .caja {
    margin: 10px;
  }

.contenedor p {
  font-size: small;
}

.button-container button {
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
  color: #ff1b82;
}

.video {
  display: flex;
  justify-content: center;
  width: 100%;
}

footer {
  background-color: #ff5aa4;
  color: #4e09ee;
  font-size: x-small;
  font-size: 12px;
  padding: 10px 0;
}

.numeros-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
}

.numeros {
  flex: 0 0 calc(33.33% - 20px);
  width: 200px;
  height: 200px;
  padding: 20px;
  text-align: center;
}

.boton-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-family: "Abril Fatface", cursive;
  color: #ff1b82;
}

.boton-container a {
  color: #ff1b82;
}
